body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#chart
{
	width: 100%;
	height: calc(100% - 50px);
	top: 50px;
	position: absolute;
}
#table {
	width: 800px;
	height: 600px;
	top: 50px;
	position: absolute;
	left: -10000;
}
.tickLabel
{
	font-family: monospace;
}
.legend
{
	cursor: pointer;
}
.legendlabel
{
	text-transform: capitalize;
}
body
{
	font-family: sans-serif;
}
.top-right
{
	position: absolute;
	top: 2px;
	right: 2px;
}
.top-left
{
	position: absolute;
	top: 2px;
	left: 2px;
}
.touch-button
{
	padding: 10px;
	margin: 5px;
	display: inline-block;
}
#dialog
{
	display: none;
}
.dialog-hidden
{
	display: none;
}
.datepicker
{
	display: none;
	margin-top: 10px;
}
.dialog-right
{
	float: right;
}
.dialog-right label
{
	display: block;
}
.dialog-section
{
	margin-bottom: 10px;
}
#dialog-legend label
{
	text-transform: capitalize;
}
.legend .legendLayer .background {
	fill: rgba(255,255,255,1);
}
.legend-color-box
{
	height: 10px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 5px;
}
.ui-effects-transfer
{
	border: 1px dotted black;
}
.data-table
{
	margin-top: 50px;
}
.data-table th
{
	font-weight: bold;
	text-transform: capitalize;
	font-size: 0.75em;
	text-align: right;
}
.data-table td
{
	font-family: monospace;
	text-align: right;
	border-right: 1px solid #EEEEEE;
}
.data-table-odd-hour
{
	background: #EEEEEE;
}
.data-table-new-day
{
	border-top: 2px solid black;
}
.data-table td table
{
	float:right;
}